{% extends 'base.html.twig' %}

{% block title %}About page{% endblock %}

{% block body %}
    <h1>About page</h1>
    <h2 class="label">Template Bundle</h2>
    <h2 class="label">Controller {{ app_name }}</h2>
    <a href="{{ path('app_main') }}">Main</a>
{% endblock %}
