{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Main page</h1>
    <h2 class="label">Template App</h2>
    <h2 class="label">Controller {{ app_name }}</h2>
    <a href="{{ path('app_about') }}">About</a>
{% endblock %}
