{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <h1 style="color: red">This is main index template file from symfony bundle!!!!!!!!!!!!.</h1>
{% endblock %}
